:root{
    --background: #1E1C21; 
    --pink: #FC1E8B;
    --purple: #7278C3;
    --blue: #00A8DC;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--background);
    font-family: 'Titillium Web', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.gradient{
    background: rgba(213,55,155,1);
    background: -moz-linear-gradient(left, rgba(213,55,155,1) 0%, rgba(119,117,193,1) 69%, rgba(114,119,195,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(213,55,155,1)), color-stop(69%, rgba(119,117,193,1)), color-stop(100%, rgba(114,119,195,1)));
    background: -webkit-linear-gradient(left, rgba(213,55,155,1) 0%, rgba(119,117,193,1) 69%, rgba(114,119,195,1) 100%);
    background: -o-linear-gradient(left, rgba(213,55,155,1) 0%, rgba(119,117,193,1) 69%, rgba(114,119,195,1) 100%);
    background: -ms-linear-gradient(left, rgba(213,55,155,1) 0%, rgba(119,117,193,1) 69%, rgba(114,119,195,1) 100%);
    background: linear-gradient(to right, rgba(213,55,155,1) 0%, rgba(119,117,193,1) 69%, rgba(114,119,195,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5379b', endColorstr='#7277c3', GradientType=1 );
}
.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
header a{
    color: white;
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
    box-shadow: 0px 13px 10px rgba(0, 0, 0, 0.5);
}
.top nav{
    width: 60%;
}
.top ul{
    display: flex;
    justify-content: space-around;
}
.banner{
    width: 100%;
    height: 400px;
    background-image: url(../Imagens/Imagens/meta_mundo.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 12px;
    border-radius: 5px;
}
.banner .btn{
    margin-top: 230px;
}
.sobre{
    background-image: url("../Imagens/Imagens/Teams/T6.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    clip-path: polygon(100% 0, 100% 88%, 0 100%, 0 14%);
    width: 100%;
    min-height: 350px;
    margin: 20px 0;   
    padding: 120px 0;
    color: white;
}
.sobre .container{
    display: flex;
}
.sobre img{
    position: absolute;
    display: flex;
    justify-content: flex-start;
}
.sobre .container div{
    width: 40%;
}
.campea{
    position: absolute;
    right: 15%;
    top: 470px;
}
#horarios{
    width: 100%;
    min-height: 120px;
    margin: 30px 0;
    background: rgba(67,43,95,1);
    background: -moz-linear-gradient(top, rgba(67,43,95,1) 0%, rgba(30,28,33,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(67,43,95,1)), color-stop(100%, rgba(30,28,33,1)));
    background: -webkit-linear-gradient(top, rgba(67,43,95,1) 0%, rgba(30,28,33,1) 100%);
    background: -o-linear-gradient(top, rgba(67,43,95,1) 0%, rgba(30,28,33,1) 100%);
    background: -ms-linear-gradient(top, rgba(67,43,95,1) 0%, rgba(30,28,33,1) 100%);
    background: linear-gradient(to bottom, rgba(67,43,95,1) 0%, rgba(30,28,33,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#432b5f', endColorstr='#1e1c21', GradientType=0 );
    box-shadow: 0px 0px 22px #000000;
}
.ao_vivo, .em_breve{
    border-left: solid 1px var(--purple);
    color: white;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.partida img{
    width: 40px;
    padding: 0 15px;
}
.partida{
    padding: 0 10px;
    display: flex;
    align-items: center;
    min-width: 150px;
}
#horarios .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
#horarios h2{
    margin: 0 15px;
}
.em_breve{
    width: 65%;
}
.content{
    display: flex;
    justify-content: center;
    color: white;
}
.news{
    width: 70%;
    padding-right: 40px;
    display: flex;
    flex-flow: wrap;
}
.card{
    width: 28%;
    margin: 2%;
    box-shadow: 0px 2px 6px black;
    background-color: rgb(36, 35, 35);
}
.card img{
    width: 100%;
    height: 140px;
}
.card h4{
    padding: 1em 0 0 1em;
}
.card p{
    padding: 1em;
    font-size: 0.8em;
}
.resultados{
    text-align: center;
    margin: 1.2em 0;
}
.resultados img{
    width: 35px;
}
.recente{
    box-shadow: 0px 2px 6px black;
    background-color: rgb(36, 35, 35);
    padding: 1.5em;
    margin: 2% 0;
    text-align: center;
}
.recente a{
    display: flex;
    justify-content: center;
}
footer{
    box-shadow: 0 0 10px black;
    color: white;
    margin-top: 30px;
    background-color: rgb(26, 25, 25);
}
footer a{
    color: white;
    text-decoration: none;
}
footer ul{
    list-style-type: none;
}
footer .social_media{
    display: flex;
    justify-content: space-evenly;
    color: var(--purple);
    padding: 1.2em 0px;
    font-size: 2em;
}
footer .container{
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
}
footer h5{
    padding-bottom: 1.2em;
    color: #696969;
    font-size: 1.5em;
}
footer h6{
    text-align: end;
    font-size: 1.1em;
}
footer p{
    text-align: center;
    color: #696969;
    font-size: 1.3em;
}

/* PÁGINA DE CADASTRO */

.page_title{
    background-image: url(../Imagens/Imagens/cadastro.png);
    width: 100%;
    height: 360px;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5em;
    text-transform: uppercase;
    padding: 0.5em;
}
.cadastro{
    width: 100%;
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 6em auto;
    padding: 2em;
    box-shadow: 1px 1px 5px #7278C3, -1px -1px 5px #FC1E8B;
}
.campo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}
.campo label{
    text-transform: uppercase;
}
.sexo{
    border: none;
    width: 100%;
}
.cadastro button{
    border-style: solid;
    border-width: 10px;
    margin-top: 2em;
    border-radius: 5px;
    border-color: rgba(119,117,193,1);
    background-color: rgba(119,117,193,1);
}
input[type="text"], input[type="email"], input[type="password"], select, input[type="date"]{
    border: none;
    background-color: #1E1C21;
    color: #cccccc;
    border-bottom: 1px solid #474747;
    width: 230px;
}
input:focus, select:focus{
    outline: none;
    background-color: #2b282e;
}
.camp{
    font-size: 12px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
fieldset{
    width: 100%;
    border: none;
}
input[type="radio"]{
    margin-right: 0.1em;
}
fieldset label{
    margin-right: 0.5em;
}
.top .fa-bars{
    color: var(--purple);
    font-size: 2em;
    display: none;

}
@media screen and (max-width: 1200px) {
    .campea{
        right: 0%;
    }
    .sobre .container div{
        width: 50%;
    }
    .container{
        width: 95%;
    }
}
@media screen and (max-width: 768px) {
    header img{
        max-width: 180px;
    }
    .container{
        width: 98%;
    }
    .campea{
        right: 0px;
        margin-top: 60px;
        max-width: 400px;
    }
    .sobre .container div{
        width: 55%;
        margin-left: 30px;
    }
    .ao_vivo{
        padding: 5.3px 5px;
        width: 50%;
        flex-flow: wrap;
        justify-content: center;
    }
    .em_breve{
        width: 50%;
        flex-flow: wrap;

    }
    .em_breve, .partida{
        margin: 0.5em 0;
    }
    .news{
        flex-direction: column;
    }
    .card{
        display: flex;
        width: 100%;
    }
    .card img{
        width: 30%;
    }
    footer .container{
        padding-top: 0.3em;
        width: 94%;
    }
    .mob_logo_sociais{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .mob_logo_sociais{
        max-width: 180px;
    }
}
@media screen and (max-width: 460px) {
    .top .fa-bars{
        display: block; 
    }    
    #menu{
        position: absolute;
        top: 75px;
        width: 100%;
        background-color: var(--background);
        display: none;
        
    }
    .top div{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 0 2em;
    }
    .top ul{
        flex-direction: column;
        height: 250px;
    }
    .top ul a{
        padding-left: 0.5em 80% 0.5em 1em;
        margin: 5em;
    }
    .campea{
        display: none;
    }

}